/* div.actionTableCard {
    border-width: 3px;
    border-color: #2d5366;
}

.actionTableBody {
    background-color: #f3f3f1;
}


.actionTableBody .actionTable {
    padding: 10px;
    background-color: #9eb1bd;
} */

.actTableSelPat,
.actTableEnrollNewPat,
.actTableSelPhys,
.actTableAddNewPhys,
.actTableSelMed,
.actTableAddNewMed {
    cursor: pointer;
}