.nav {
    margin-top: 10px;
}

.HomeHeader {
    background-color: #e8dcc9;
    border-bottom: 5px solid #b38b4d;
    box-shadow: 0px 0px 10px #bab9b9;
    height: 131px;
}

h1.logo {
    margin: 0 auto;
}

a.nav-link.active {
    margin-bottom: 10px;
    text-align: center;
}

a.color-home.nav-link.active:hover {
    background-color: limegreen;
}

a.color-app.nav-link.active:hover {
    background-color: orchid;
}

a.color-logout.nav-link.active:hover {
    background-color: orangered;
}
