div.patSurvey {
    max-width: 850px;
    margin: 0 auto;
}

.patSurvey {
    margin-bottom: 25px;
}

.patSurveyCard,
.introSuvCard {
    margin-top: 25px;
}

.patSurveyCard .patSurveyHeader {
    text-align: center;
    margin-bottom: 35px;
    color: black;
    background-color: #c2d6d6;
}

.introSuvCard .introSuvCardHeader {
    text-align: center;
    color: black;
    background-color: #c2d6d6;
}

.surveyQuestions {
    color: black;
    padding: 25px;
}

.chkSelected,
.radSelected {
    font-size: 25px;
}

/* //// survey buttons /////////////////////////////////////////////////////////////// */

.suvRadGroup,
.suvChkGroup {
    margin: 0 auto;
    display: grid;
}

.suvChkBtnOrange,
.suvRadBtnOrange {
    background-color: #ff6600;
    border-color: #ff6600;
}

button.suvRadBtn,
button.suvChkBtn,
button.suvChkBtnOrange,
button.suvRadBtnOrange {
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    padding: 15px 25px 15px 25px;
}

button.suvRadBtn:hover,
button.suvChkBtn:hover {
    color: black;
}

button.suvChkBtnOrange:hover,
button.suvRadBtnOrange:hover {
    color: black;
    background-color: #e65c00;
    border-color: #e65c00;
}

button.suvRadBtn:not(:disabled):not(.disabled).active,
button.suvChkBtn:not(:disabled):not(.disabled).active,
button.suvRadBtn:not(:disabled):not(.disabled):active,
button.suvChkBtn:not(:disabled):not(.disabled):active {
    color: #212529;
}

.suvChkBtnOrange:not(:disabled):not(.disabled).active,
.suvRadBtnOrange:not(:disabled):not(.disabled).active,
.suvChkBtnOrange:not(:disabled):not(.disabled):active,
.suvRadBtnOrange:not(:disabled):not(.disabled):active,
.show>.suvChkBtnOrange.dropdown-toggle {
    color: #212529;
    background-color: #e65c00;
    border-color: #e65c00;
    box-shadow: 0 0 0 0.2rem rgba(204, 102, 0, .5);
}

h5,
.surveyQandA,
.radSelected,
.chkSelected {
    text-align: center;
}

.suvRadGroup,
.suvChkGroup {
    margin: 0 auto;
    display: grid;
}

button.questSubmitBtn {
    padding: 15px 0px 15px 0px;
}