.form-control {
    margin-bottom: 10px;
}

.form-container {
    max-width: 980px;
}

.signin-form {
    margin: 100px auto;
    padding: 25px;
}

#userName,
#userPassword {
    margin-top: -10px;
}

button.submit-button {
    float: right;
}

.signInMessage {
    text-align: center;
    margin-bottom: 25px;
}