.enrollNewPatTableBody {
        background-color: #f3f3f1;
}

div.enrollNewPatTableCard {
    border-width: 3px;
    border-color: #2d5366;
    margin-bottom: 25px;
}

.enrollNewPatTableBody .enrollNewPatTitle {
    padding: 10px;
    background-color: #9eb1bd;
}

.enrollNewPatForm .enrollNewPatEnrollBtn {
    margin-right: 10px;
}


.enrollNewPatForm .enrollNewPatEnrollBtn,
.enrollNewPatForm .enrollNewPatCanelBtn {
    margin-top: 7px;
    color: #e3c044;
    font-weight: bold;
    background-color: #2d5366;
    padding: 15px 25px 15px 25px;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 1s;
    transition-property: background-color, color;
    transition-duration: 1s;
}

.enrollNewPatForm .enrollNewPatEnrollBtn:hover,
.enrollNewPatForm .enrollNewPatCanelBtn:hover {
    color: #2d5366;
    background-color: #e3c044;
    box-shadow: 0 0 0 0.2rem;
}