div.confirmPhysCardTableCard {
    border-width: 3px;
    border-color: #2d5366;
    margin-bottom: 25px;
}

.confirmPhyCardTableBody {
    background-color: #f3f3f1;
}

.confirmPhyCardTableBody .confirmPhysCardTitle {
    padding: 10px;
    background-color: #9eb1bd;
}

.confirmPhyCardTableBody .confirmPhysCardUpdateBtn,
.confirmPhyCardTableBody .confirmPhysCardCancelBtn {
    margin-right: 10px;
}

.confirmPhyCardTableBody .confirmPhysCardUpdateBtn,
.confirmPhyCardTableBody .confirmPhysCardCancelBtn,
.confirmPhyCardTableBody .confirmPhysCardBackBtn {
    margin-top: 7px;
    color: #e3c044;
    font-weight: bold;
    background-color: #2d5366;
    padding: 15px 25px 15px 25px;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 1s;
    transition-property: background-color, color;
    transition-duration: 1s;
}

.confirmPhyCardTableBody .confirmPhysCardUpdateBtn:hover,
.confirmPhyCardTableBody .confirmPhysCardCancelBtn:hover,
.confirmPhyCardTableBody .confirmPhysCardBackBtn:hover {
    color: #2d5366;
    background-color: #e3c044;
    box-shadow: 0 0 0 0.2rem;
}