label.copyright {
    text-align: center;
    font-weight: 500;
    padding-top: 5px;
}

label.footAbout,
label.footGit {
    padding-right: 20px;
    padding-top: 5px;
    float: right;
}

.footer {
    text-align: center;
    background-color: #f2e1a6;
    border-top: 3px solid #2d5366;
    box-shadow: 0px 0px 15px #bab9b9;
}

@media screen and (max-width: 376px) {
    label.copyright {
        text-align: center;
        padding-top: 6px;
        font-size: 12px;
    }
    label.footAbout,
    label.footGit {
        padding-right: 15px;
        padding-top: 6px;
        float: right;
        font-size: 13px;
    }
}