/* div.selectPhysTableCard {
    border-width: 3px;
    border-color: #2d5366;
    margin-bottom: 25px;
}

.selectPhysTableBody {
    background-color: #f3f3f1;
}

.selectPhysTableBody .selectPhysTitle {
    padding: 10px;
    background-color: #9eb1bd;
}

.selectPhysDetail:hover {
    background-color: #eeda90;
    cursor: pointer;
} */
