div.patMedInfo {
    max-width: 850px;
}

.patMedInfo {
    margin-top: 25px;
}

.patMedInfoCard {
    margin-bottom: 25px;
}

.patMedInfoCard .patMedInfoHeader {
    text-align: center;
    margin-bottom: 35px;
    color: black;
    background-color: #9eb1bd;
}

.patMedInfoCard .patMedInfoBody {
    color: black;
    padding: 25px;
    background-color: #f3f3f1;
}

.patMedInfo .patMedInfoDue {
    text-align: center;
}

.patMedDueHours,
.patMedDueTime {
    text-align: center;
    font-size: 20px;
}

.patMedDueRemind {
    text-align: center;
    margin: 0 auto;
    display: grid;
}

button.patMedRemindBtn {
    padding: 15px 25px 15px 25px;
    color: #e3c044;
    font-weight: bold;
    background-color: #2d5366;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 1s;
    transition-property: background-color, color;
    transition-duration: .5s;
}

button.patMedRemindBtn:hover {
    color: #2d5366;
    background-color: #e3c044;
    box-shadow: 0 0 0 0.2rem;
}

@media screen and (max-width: 769px) {
    h4.patMedInfoDue {
        font-size: 25px;
        margin-top: -15px;
    }
}

@media screen and (max-width: 376px) {
    button.patMedRemindBtn {
        padding: 10px 20px 10px 20px;
    }
    .uploadVideo .uploadLinkMess {
        font-size: 15px;
    }
    h4.patMedInfoDue {
        font-size: 18px;
        margin-top: -15px;
    }
    .patMedDueHours,
    .patMedDueTime {
        font-size: 15px;
    }
    .patMedInfoCard .patMedInfoHeader {
        font-size: 20px;
    }
}