#episodeVideo {
    margin-top: -9px;
}

div.uploadVideoInfo {
    max-width: 850px;
}

div.uploadVideoInfoCard {
    margin-bottom: 25px;
}

.uploadVideoInfoCard .uploadVideoInfoHeader {
    text-align: center;
    margin-bottom: 35px;
    color: black;
    background-color: #9eb1bd;
}

.uploadVideoInfoCard .uploadVideoInfoBody {
    color: black;
    padding: 25px;
    background-color: #f3f3f1;
}

button.submitVideo {
    padding: 15px 25px 15px 25px;
    color: #e3c044;
    font-weight: bold;
    background-color: #2d5366;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 1s;
    transition-property: background-color, color;
    transition-duration: .5s;
}

button.submitVideo:hover {
    padding: 15px 25px 15px 25px;
    color: #2d5366;
    background-color: #e3c044;
    box-shadow: 0 0 0 0.2rem;
}

@media screen and (max-width: 769px) {
    h4.shareVideo {
        font-size: 25px;
        margin-top: -15px;
    }
    .uploadVideo .uploadLinkMess {
        font-size: 18px;
    }
}

@media screen and (max-width: 376px) {
    button.submitVideo {
        padding: 10px 20px 10px 20px;
    }
    .uploadVideo .uploadLinkMess {
        font-size: 15px;
    }
    h4.shareVideo {
        font-size: 18px;
        margin-top: -15px;
    }
    .uploadVideoInfoCard .uploadVideoInfoHeader {
        font-size: 20px;
    }
}