.physInfoCard,
.physInfoHours {
    margin-top: 25px;
}

.physInfoCard .physInfoHeader,
.physInfoCard .physInfoHours {
    text-align: center;
}

.physInfoCard .physInfoOffHr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.AppointmentCards {
    margin-bottom: 25px;
}