.physInfoCard {
    margin-top: 25px;
}

.physInfoCard .physInfoHeader,
.physInfoCard .physInfoHours {
    text-align: center;
    margin-bottom: 35px;
}

.physInfoCard .physInfoHeader {
    color: black;
    background-color: #c2d6d6;
}

.physInfoCard .physInfoOffHr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.physCard {
    margin-bottom: 25px;
}

.physInfoCard .docCardInfo {
    color: black;
    padding: 10px;
}