p.tableTitle {
    font-weight: bold;
}

.dashboardTable .patEnrolledTable,
.dashboardTable .appThisWeekTable,
.dashboardTable .emergNotifTable {
    width: auto;
}

.patEnrolledDetail:hover,
.appThisWeekDetail:hover,
.emergNotifDetail:hover {
    background-color: #eeda90;
    cursor: pointer;
}