p.tableTitle {
    font-weight: bold;
}

.dashboardTable .patEnrolledTable,
.dashboardTable .appThisWeekTable,
.dashboardTable .emergNotifTable {
    width: auto;
}

.patEnrolledDetail:hover,
.appThisWeekDetail:hover,
.emergNotifDetail:hover {
    background-color: #eeda90;
    cursor: pointer;
}

/*
.dashboardTableBody {
    background-color: #f3f3f1;
}

div.dashboardTableCard {
    border-width: 3px;
    border-color: #2d5366;
    margin-bottom: 25px;
}

.dashboardTableBody .dashboardTitle {
    padding: 10px;
    background-color: #9eb1bd;
} */




