.Container {
    max-width: 980px;
}

.form-group {
    margin-left: 250px;
    margin-right: 250px;
}

form.signin-form {
    /* max-width: 600px;    */
    margin: 100px auto;
}

#userName,
#userPassword {
    margin-top: -10px;
    }

button.btn {
    float: right;
}